/* size
 * super awesome swaggalicious dimensions
 * owebboy
 */

// sizing
n = 0
xs = .1em
s = .25em
m = .5em
l = 1em
x = 2em
xl = 3em
xxl = 4em
max = 100%

// padding
.pan
	padding n 
.paxs 
	padding xs 
.pas 
	padding s 
.pam 
	padding m 
.pal 
	padding l 
.pax 
	padding x 
.paxl 
	padding xl 
.paxxl 
	padding xxl
	 
.pln 
	padding-left n 
.plxs 
	padding-left xs 
.pls 
	padding-left s 
.plm 
	padding-left m 
.pll 
	padding-left l 
.plx 
	padding-left x 
.plxl
	padding-left xl 
.plxxl 
	padding-left xxl 

.prn 
	padding-right n 
.prxs 
	padding-right xs 
.prs 
	padding-right s 
.prm 
	padding-right m 
.prl 
	padding-right l 
.prx 
	padding-right x 
.prxl 
	padding-right xl 
.prxxl 
	padding-right xxl 

.ptn 
	padding-top n 
.ptxs 
	padding-top xs 
.pts 
	padding-top s 
.ptm 
	padding-top m 
.ptl 
	padding-top l 
.ptx 
	padding-top x 
.ptxl 
	padding-top xl 
.ptxxl 
	padding-top xxl 

.pbn 
	padding-bottom n 
.pbxs 
	padding-bottom xs 
.pbs 
	padding-bottom s 
.pbm 
	padding-bottom m 
.pbl 
	padding-bottom l 
.pbx 
	padding-bottom x 
.pbxl 
	padding-bottom xl 
.pbxxl 
	padding-bottom xxl 

// margin
.man
	margin n 
.maxs 
	margin xs 
.mas 
	margin s 
.mam 
	margin m 
.mal 
	margin l 
.max 
	margin x 
.maxl 
	margin xl 
.maxxl 
	margin xxl

.mln 
	margin-left n 
.mlxs 
	margin-left xs 
.mls 
	margin-left s 
.mlm 
	margin-left m 
.mll 
	margin-left l 
.mlx 
	margin-left x 
.mlxl
	margin-left xl 
.mlxxl 
	margin-left xxl 

.mrn 
	margin-right n 
.mrxs 
	margin-right xs 
.mrs 
	margin-right s 
.mrm 
	margin-right m 
.mrl 
	margin-right l 
.mrx 
	margin-right x 
.mrxl 
	margin-right xl 
.mrxxl 
	margin-right xxl 

.mtn 
	margin-top n 
.mtxs 
	margin-top xs 
.mts 
	margin-top s 
.mtm 
	margin-top m 
.mtl 
	margin-top l 
.mtx 
	margin-top x 
.mtxl 
	margin-top xl 
.mtxxl 
	margin-top xxl 

.mbn 
	margin-bottom n 
.mbxs 
	margin-bottom xs 
.mbs 
	margin-bottom s 
.mbm 
	margin-bottom m 
.mbl 
	margin-bottom l 
.mbx 
	margin-bottom x 
.mbxl 
	margin-bottom xl 
.mbxxl 
	margin-bottom xxl

// width	
.wn 
	width n 
.wxs 
	width xs 
.ws 
	width s 
.wm 
	width m 
.wl 
	width l 
.wx 
	width x 
.wxl 
	width xl 
.wxxl 
	width xxl 
.wmax 
	width max

// height
.hn 
	height n 
.hxs 
	height xs 
.hs 
	height s 
.hm 
	height m 
.hl 
	height l 
.hx 
	height x 
.hxl 	
	height xl 
.hxxl 
	height xxl
.hmax 
	height max